@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.container {
	.header {
		display: flex;
		align-items: center;
		padding: 2rem 2rem;

		.image-header {
			max-width: 120px;
		}

		.icons {
			display: flex;
			gap: 1rem;
			margin-left: auto;

			svg {
				color: #666af6;
				cursor: pointer;
			}
		}
	}

	.form-wrapper {
		display: flex;

		#message {
			order: 3;
		}
	}
}